
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Lisu+Bosa:wght@900&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600;700&display=swap');




*{
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */
}



/* ***********************************************First Section Starts ************************************************/

.hero{
    width: 100%;
    height: 88.2vh;
    background-image: url(./images/hero-background.png);
    background-size: cover;
}

.background{
    /* border: 1px solid black; */
    width: 50%;
    margin-left: 11rem; 
    padding-top: 8rem;
    
    
}

.title{
    height: 4.5vh;
}

.title img{
    height: 5vh;
}

.heading{
    margin-top: 3rem;
    font-family: 'Josefin Sans', sans-serif;
    font-size:34px;
    color: rgba(0, 44, 155, 1);

}

.heading-2{
    font-family: 'Lisu Bosa', serif;
    color: rgba(0, 160, 223, 1);
    font-size: 42px;
    margin-top: 0.5rem;
}

.para p{
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    line-height: 1.8125rem;
    font-size: 1.1146rem;
    color: #37465a;
    margin-top: 2.5rem;
    width: 70.5%;
}

.btn-view-plans a{
    text-decoration: none;
    color: white; 
    font-size: 12px;   
    font-family:'Josefin Sans', sans-serif ;
}

.btn-view-plans{
    margin-top: 2rem;
    background-color:rgba(0, 38, 132, 1) ;
    padding: 15px 44px 15px 44px;
    border: none;
    border-radius: 40px;
}




/* ***********************************************First Section Responsive ************************************************/


@media (min-width: 320px) and (max-width: 480px){
    .hero{
        width: 100%;
        height: 88.2vh;
        background-image: url(./images/hero-background-responsive.png);
        background-size: cover;
    }



    .background{       
        width: 100%;
        margin-left: 0rem;
        padding-top: 5rem;
        
        
    }
    .title img{
        height: 4vh;
        padding-left: 1rem;
    }

   
    .heading{
        margin-top: 2rem;
        font-size:25px;
        padding-left: 1rem;
    
    }

    .heading-2{
        font-size: 30px;
        margin-top: 0.5rem;
        padding-left: 1rem;
    }
    

    .para p{
        margin-top: 2.5rem;
        width: 80.5%;
        padding-left: 1rem;
    }


    .btn-view-plans{
       margin-left: 1rem;
       padding: 15px 55px 15px 55px;
    }


    
}


/* ***********************************************First Section ends ************************************************/



/* ***********************************************Second Section starts ************************************************ */


.main{
    padding-top: 5rem;
    text-align: center;
}

.main-heading{
    font-family: 'Lisu Bosa', serif;
    color: rgba(0, 160, 223, 1);
    font-size: 30px;
    margin-top: 0.5rem;
}

.main-heading2{
    margin-top: 1.2rem;
    font-family: 'Josefin Sans', sans-serif;
    font-size:18px;
    color: rgba(0, 44, 155, 1);
}

.second-para p{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    line-height: 1.8125rem;
    font-size: 1.1146rem;
    margin: 3rem 24.5rem 0 24.5rem;
    color: #37465ae0;
}

.btn-view-plans2 a{
    text-decoration: none;
    color: white; 
    font-size: 12px;   
    font-family:'Josefin Sans', sans-serif ;
}

.btn-view-plans2{
    margin-top: 2rem;
    background-color:rgba(0, 38, 132, 1) ;
    padding: 15px 46px 15px 46px;
    border: none;
    border-radius: 40px;
}

.about{
    display: flex;  
    margin: 8rem 12rem 5rem 12rem; 
    justify-content: space-evenly;
    align-items: center;
    

}

.card-1{
    display: flex;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    line-height: 1.4rem;
    font-size: 0.91rem;
    color: #37465ae0;
    width: 23.7%;
    


}

.card-1 img{
   display: block;
   height: 66px;
   width: 60px;
    

}
.card-1 p{
    margin-left: 0.5rem;
}

/* ***********************************************Second Section Responsive ************************************************/



@media (min-width: 320px) and (max-width: 480px){

    .main-heading{
        font-size: 20px;
        margin-top: 0.5rem;
    }

    .main-heading2{
        margin-top: 1.2rem;
        font-size:15px;
    }

    .second-para p{
        line-height: 1.5rem;
        font-size: 1rem;
        margin: 3rem 0 0 0;
        width: 100%;
    }

    .btn-view-plans2 a{
        font-size: 15px;   
        
    }

    .btn-view-plans2{
        margin-top: 5rem;
        padding: 15px 100px 15px 100px;
    }
    
    .about{
        display: block;
        margin: 5rem 4rem 0 4rem;
    }
   
    .card-1{

        width: 94%;
        margin-top: 3rem;

        
    
    
    }
    
    .card-1 img{
        height: 66px;
        width: 60px;
        
    
    }
    .card-1 p{
        margin-left: 0.5rem;
        font-size: 0.85rem;
        line-height: 1.2rem;
    }
    





}

/* ***********************************************Second Section ends ************************************************  */





/* ***********************************************Third Section starts ************************************************ */
.third-sec{
    background-color: rgb(0,160,223);
    /* margin: 0 13rem 0 13rem; */
}

.main-third-sec{
    text-align: center;
    padding-top: 6rem;
}
.headline{
    font-family: 'Josefin Sans', sans-serif;
    font-size:18px;
    color: white;
}


.about-third-sec{
    display: flex;  
    margin: 4rem 13rem 0 13rem; 
    justify-content: space-evenly;
    align-items: center;   
    

}

.card-2{
    display: block;
    font-family: 'Open Sans', sans-serif;
    text-align: center;   
    color: white;
    padding: 1rem;

}

.card-2 img{

   height: 66px;
   width: 60px;
   margin-bottom: 1rem;
    

}
.card-2 p b{
    font-size: 1rem;
}

.card-2 p{
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.84rem;
    text-align: center;
    line-height: 1.4rem;
    margin-top: 1rem;
}



.btn-view-plans3 a{
    text-decoration: none;
    color: rgba(0, 38, 132, 1); 
    font-size: 12px;   
    font-family:'Josefin Sans', sans-serif ;
}

.btn-view-plans3{
    margin-top: 4.5rem;
    margin-bottom: 5.5rem;
    background-color:white ;
    padding: 15px 46px 15px 46px;
    border: none;
    border-radius: 40px;
}




/* ***********************************************Third Section Responsive ************************************************ */
@media (min-width: 320px) and (max-width: 480px){
    .about-third-sec{
        flex-wrap: wrap;  
        margin: 1rem 2rem 0 2rem; 
        
    
    }

    .btn-view-plans3{
        margin-top: 1.5rem;
        margin-bottom: 3rem;
        padding: 15px 100px 15px 100px;
    }
}




/* ***********************************************Third Section ends ************************************************ */




/*  ***********************************************Fourth Section starts ************************************************  */

.fourth-sec{
    background: url(https://v.fastcdn.co/u/d1da2199/53757016-0-Plans-module-bg-alt.jpg);
    padding: 10rem 22rem 10rem 22rem;
    text-align: center;
    background-position: center;
    background-size: cover;   

    
}

.repeat-sec{
    background-color: white;
    padding: 5rem 5rem 4rem 5rem;
    border: none;
    border-radius: 10px;
}

.btn-view-plans9 a{
    text-decoration: none;
    color: white; 
    font-size: 12px;   
    font-family:'Josefin Sans', sans-serif ;
}

.btn-view-plans9{
    margin-top: 2rem;
    background-color:rgba(0, 38, 132, 1) ;
    padding: 15px 46px 15px 46px;
    border: none;
    border-radius: 40px;
}

/* ***********************************************fourth Section Responsive ************************************************ */
@media (min-width: 320px) and (max-width: 480px){
    .fourth-sec{
        padding: 5rem 2rem 5rem 2rem;   
        
    }
    .repeat-sec{
        padding:5rem 3rem 5rem 3rem;
    }
    
    .btn-view-plans9{
        padding: 15px 80px 15px 80px;
    }
}

 
 /*  ***********************************************Fourth Section ends ************************************************  */



 /* ***********************************************Fifth Section starts ************************************************ */

 .five-sec{
    background-color: white;
    padding: 4rem 22rem 4rem 22rem;
}

.newsletter{
    display: flex;
    justify-content: space-between;
    margin: 0 15px 0 15px;
}
.msg{
    padding: 10px;
    font-family:'Josefin Sans', sans-serif ;
    width: 35%;
    line-height: 1.4rem;
    font-size: 0.99rem;
    color: #37465a;
}
.msg h5{
    color: rgba(0, 38, 132, 1);
    font-size: 1rem;
    line-height: 1.8rem;
}

#mail{
    background-color:white ;
    padding: 15px 56px 15px 20px;
    border: 0.5px solid #37465ae0 ;
    border-radius: 20px 0 0 20px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    text-align: left;
    margin-right: -4px;
}
.btn-view-plans4{
    background-color:rgba(0, 38, 132, 1) ;
    padding: 15px 32px 15px 32px;
    border: none;
    border-radius: 0 20px 20px 0;
    
}
.action{
    padding-top: 1.5rem;
}
.action-btn{
    color: white;
    font-family:'Josefin Sans', sans-serif ;
    font-size: 14px;
    border: none;
    font-weight: bolder;
}






 /* ***********************************************Fifth Section responsive ************************************************ */

 @media (min-width: 320px) and (max-width: 480px){
    .five-sec{
        background-color: white;
        padding: 2rem 2rem 5rem 2rem;

    }
    .newsletter{
        flex-wrap: wrap;
        text-align: center;
    }
    .msg{
        padding: 10px 4px 10px 4px;
        width: 100%;
    }
    .action{
        display: flex;
    }
    #mail{
        background-color:white ;
        padding: 15px 26px 15px 10px;
        border: 0.5px solid #37465ae0 ;
        border-radius: 20px 0 0 20px;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 14px;
        text-align: left;
        margin-right: -4px;
    }

    
}

 /* ***********************************************Fifth Section ends ************************************************** */




/* ***********************************************Footer Section starts ************************************************  */

.footer{
    background-color: rgba(0, 38, 132, 1);
    color: white;
    font-family:'Josefin Sans', sans-serif ;   
    text-align: center; 
    padding-top: 4rem;
    height: 40vh;
}
.container {
    text-align: center;
  }
 li a{
    text-decoration: none;
    color: white;
  }
  
.icons {
    display: flex;
    justify-content: center;
  }
  
.icons a{
    text-decoration: none;
    color: white;
}
.fa-brands {
    font-size: 1.8rem;
    margin: 0 0.8rem 0 0.8rem;
  }
.foot-p{
    margin-top: 1rem;
    margin-bottom: 3rem;
    font-size: 0.9rem;
  }  
.foot-credit{
    font-size: 0.88rem;
}
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: inline-block;
    margin: 1rem 0 2rem 1rem;
    font-size: 0.88rem;
  }

.foot-contact{
    font-size: 0.85rem;
    margin-bottom: 2rem;
}
  
.container img {
    height: 4vh;    
  }
/* ***********************************************Footer Section responsive ************************************************  */




@media (min-width: 320px) and (max-width: 480px) {
    .footer{
        padding-bottom: 4rem;
    }
    .foot-contact{
        font-size: 0.85rem;
        margin: 0 2rem 2rem 2rem;
        
    }
}
/* ***********************************************Footer Section ends ************************************************ */
